<!--@subject {{trans "Partner Portal OTP Code"}} @-->
<!--@vars {
"var store.getFrontendName()":"Store Name",
"var otp":"OTP",
"var otp_expiration":"OTP Expiration",
"var partner_name":"Partner Name",
} @-->
{{template config_path="design/email/header_template"}}

<div>
    <p>{{trans 'Hi %partner_name,' partner_name=$partner_name}}</p>
    <p>{{trans 'Your OTP (One Time Password) Code is %otp. Your Code will expire in %otp_expiration minutes.' otp=$otp otp_expiration=$otp_expiration}}</p>
</div>

{{template config_path="design/email/footer_template"}}