<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <partnerportal_config>
            <general>
                <enable>1</enable>
                <otp_validity>5</otp_validity>
                <access_token_validity>30</access_token_validity>
            </general>
        </partnerportal_config>
    </default>
</config>
