/* Index Page */
.partners-vip-index .form,
.partners-vip-otpverify .form {
  max-width: 400px;
}
.partners-vip-index .form .otp-codes,
.partners-vip-otpverify .form .otp-codes {
  display: flex;
  gap: 1rem;
}
.partners-vip-products .products.list.items {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
}
.partners-vip-products .products.list.items .product-item-details {
  display: block;
}
